# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment files
.env

# Logs
*.log

# IDEs
.vscode/
.idea/

app/config/firebase_key.json

# Test / local-only files
astroma_tester.html

# macOS
.DS_Store
**/.DS_Store